@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
@import url('https://fonts.googleapis.com/css?family=Covered+By+Your+Grace');
* {
    box-sizing: border-box;
}

nav {
    background-color: #2D1562;
    color: #8F6912;
}

#middle-row {
    background-color: #2D1562;
}

#bottom-row {
    text-align: center;
    margin: 0;
}

.middle-paragraph-color {
    color: #693400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #8F6912;
    font-family: "rock salt", Times, serif;
    padding-bottom: 0em;
    margin-bottom: 0em;
}

h2 {
    margin-bottom: 0;
}

p {
    color: #693400;
    margin-top: 0em;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    width: 100%;
}

nav ul li {
    width: 15%;
    margin: auto;
}

body {
    background-color: #081647;
    font-family: "covered by your grace", Helvetica, sans-serif;
    font-size: 23px;
}

#content {
    /*width: 80%;*/
    max-width: 960px;
    margin: 0 auto;
}

li {
    font-size: 1.1em;
}

#top-row,
#middle-row {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

#top-row img {
    max-width: 100%;
}

#middle-row img {
    max-width: 100%;
}

#banner img {
    width: 100%;
}

.leftcol,
.rightcol {
    width: 48%;
    flex: 1 0 15em;
    margin: .5em;
}

.page-layout {
    width: 960px;
}

footer {
    display: flex;
    justify-content: space-between;
}

footer p {}